body, html {
 font-family: 'Nanum Gothic', sans-serif !important;
}

/* nav */
#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #cd702f!important;
    background-color: transparent;
}

#mainNav.navbar-shrink .navbar-brand {
    color: #cd702f;
}

/* end nav */

/*index*/
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(http://www.thesmokingbud.com/sites/default/files/styles/stt_article_top/public/052015/asdfd.jpg?itok=zPX_RDO6);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p.text-faded.mb-5 {
    background: black;
}

.btn-primary {
    background-color: #cd702f;
    border-color: #cd702f;
}

.bg-primary {
    background-color: #cd702f!important;
    color: #fff!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #e3894a!important;
    color: #fff!important;
}

.btn-success {
    color: #fff;
    background-color: #0c610f;
    border-color: #0c610f;
}

a.white-link {
	color: #fff!important;
}

a.black-link {
	color: #000!important;
}

.portfolio-box .portfolio-box-caption {
    background: rgba(221,154,108,.9);
}

hr {
    border-color: #cd702f;
}

.text-primary {
    color: #cd702f!important;
}

.img-fluid {
    height: 320px;
}

#imgRoyal {
    width: -webkit-fill-available;
}

a {
    color: #cd702f !important;
}

/*end index*/

/* farmer profile */

img#imgProfile {
    width: 550px;
    height: 370px;
}

#harvestTypeList {
	width: 250px;
}

/* end farmer profile */

/* farmer history / current */
.smallList img.img-thumbnail {
    max-width: 50%;
}

.timeline>li .timeline-image {
    background-color: #cd702f;
}

@media screen and (min-width: 1200px) {
	.timeline>li .timeline-panel {
    	padding: 0 30px 0 30px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
    	padding: 0 30px 0 30px;
	}
}


/* generic */

.height200 {
	height: 200px;
}

.padding-top50 {
	padding-top: 50px;
}

.padding-top25 {
	padding-top: 25px;
}

.padding-125em {
	padding: 1.25rem;
}

.padding-right-125em {
	padding-right: 1.25rem;
}

.padding-top-125em {
	padding-top: 1.25rem;
}

.padding-bottom-125em {
	padding-bottom: 1.25rem;
}

.margin-top-125em {
	margin-top: 1.25rem;
}

.text-brandcolor {
	color: #cd702f;
}

.border-silver {
	border: 1px solid rgba(0,0,0,.125);
}

.border-dotted-top {
	border-top: 1px dotted rgba(0,0,0,.125);
}

.float-right {
	float: right;
}

.right-small {
	padding-right: 5px;
	padding-top: 5px;
}

/* end generic */

