<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Harvest - Welcome</title>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <div id="nav"></div>
    <script>
      $('#nav').load("nav");
    </script>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Harvest</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">The Marijuana Futures Marketplace</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger white-link" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">The future of marijuana is now.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Sign up!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Harvest</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-leaf text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Farmers</h3>
              <p class="text-muted mb-0">Register your farm. Presell harvests before cultivation! Build a reputation.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-handshake-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Distributors</h3>
              <p class="text-muted mb-0">Invest in future harvests!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-search text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Search Harvests</h3>
              <p class="text-muted mb-0">Use historical harvests to make decisions on future harvests available now.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-sliders text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Harvest Tracking</h3>
              <p class="text-muted mb-0">Track the progress of current harvests.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="https://images.vice.com/vice/images/articles/meta/2016/06/30/weed-porn-weed-photography-shooting-dank-nugs-for-a-living-1467310540.jpg?crop=1xw:0.843328335832084xh;center,center&resize=0:*" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    California, January 2018
                  </div>
                  <div class="project-name">
                    Green Farms
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img id="imgRoyal" class="img-fluid" src="https://www.royalqueenseeds.com/img/cms/MARI.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colorado, December 2017
                  </div>
                  <div class="project-name">
                    John's Farm
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="https://allbud.s3.amazonaws.com/media/learn/article/once-my-marijuana-plant-fully-grown-how-do-i-prepa.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    California, November 2017
                  </div>
                  <div class="project-name">
                    Grown Farms
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="https://cdn.modernfarmer.com/wp-content/uploads/2016/02/growing-marijuana.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    New Jersey, December 2017
                  </div>
                  <div class="project-name">
                    MediCal Farms
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="http://stonerculture.com/wp-content/uploads/2008/10/john_culotta_6th_boro_marijuana.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    California, January 2018
                  </div>
                  <div class="project-name">
                    Flow Kana Farms
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="http://ww2.hdnux.com/photos/46/51/04/10129693/3/rawImage.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colorado, October 2017
                  </div>
                  <div class="project-name">
                    HighTech Farms
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </body>

</html>
